@*@model Producto;*@

@{
    ViewData["Title"] = "Seccion de articulos";
}

<!DOCTYPE html>
<html>
    <head>
    </head>
<body>


        <form method="post">
        <!--<div class="card-body bg-warning p-2 p-md-5" style="--bs-bg-opacity:.5;"> CAMBIAR COLOR DE FONDO-->
        <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                <div class="card">
                    <img width="300" height="400" src="https://i.pinimg.com/564x/95/26/e9/9526e99c7459692a6a336d2872fa8dce.jpg" class="d-block mx-auto mb-4" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Cuerdas</h5>
                            <p class="card-text">Todo acerca de los intstrumentos de cuerda.</p>
                        </div>
                    <div class="card-footer">
                        <a class="btn btn-dark" asp-action="ProductoCuerda" asp-controller="Productos" type="buttom">Ver productos</a>
                    </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                    <img width="300" height="400" src="https://i.pinimg.com/564x/d8/7c/82/d87c822b9e18016a2b6bcb50e8e3f1ab.jpg" class="d-block mx-auto mb-4" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Percusion</h5>
                        <p class="card-text">Todo acerca de los intstrumentos de percusion.</p>
                        </div>
                    <div class="card-footer">
                        <a class="btn btn-info" asp-action="ProductoPercusion" asp-controller="Productos" type="buttom">Ver productos</a>
                    </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                    <img width="300" height="400" src="https://i.pinimg.com/564x/80/f2/79/80f279a9dab304d564bb2e5be0e75052.jpg" class="d-block mx-auto mb-4" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Viento</h5>
                        <p class="card-text">Todo acerca de los intstrumentos de viento.</p>
                        </div>
                    <div class="card-footer">
                        <a class="btn btn-warning" asp-action="ProductoViento" asp-controller="Productos" type="buttom">Ver productos</a>
                    </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                    <img width="300" height="400" src="https://i.pinimg.com/564x/ad/fe/0a/adfe0ae742f7f42045bf573267def792.jpg" class="d-block mx-auto mb-4" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Varios</h5>
                        <p class="card-text">Todo acerca de los articulos varios.</p>
                        </div>
                    <div class="card-footer">
                        <a class="btn btn-danger" asp-action="ProductoVario" asp-controller="Productos" type="buttom">Ver productos</a>
                    </div>
                    </div>
                </div>
            </div>



      
        </form>



       

 
    <footer>

    </footer>

    </body>
</html>