@model Producto;

@{
    ViewData["Title"] = "Productos";
}

<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <form method="post">

            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card">
                    <img width="300" height="400" src="https://i.pinimg.com/564x/0f/fd/aa/0ffdaabaf910602a3da9eca6c26a7b0c.jpg" style="max-height: 30vh; object-fit:contain" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Cuerdas</h5>
                            <p class="card-text">Todo acerca de los intstrumentos de cuerda.</p>
                        </div>
                    <div class="card-footer">
                        <a class="btn btn-danger" asp-action="ProductoCuerda" asp-controller="Productos" type="buttom">Ver productos</a>
                    </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                    <img width="300" height="400" src="https://i.pinimg.com/236x/22/32/e8/2232e809efce4055b4db29236c1a4274.jpg" style="max-height: 30vh; object-fit:contain" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Percusion</h5>
                        <p class="card-text">Todo acerca de los intstrumentos de percusion.</p>
                        </div>
                    <div class="card-footer">
                        <a class="btn btn-info" asp-action="ProductoPercusion" asp-controller="Productos" type="buttom">Ver productos</a>
                    </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                    <img width="300" height="400" src="https://i.pinimg.com/236x/cd/35/91/cd35919cb5dc6ab5b65606b9eef85069.jpg" style="max-height: 30vh; object-fit:contain" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Viento</h5>
                        <p class="card-text">Todo acerca de los intstrumentos de viento.</p>
                        </div>
                    <div class="card-footer">
                        <a class="btn btn-warning" asp-action="ProductoViento" asp-controller="Productos" type="buttom">Ver productos</a>
                    </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                    <img width="300" height="400" src="https://i.pinimg.com/236x/02/5e/f4/025ef42a7c8637b4890b5348916943f1.jpg" style="max-height: 30vh; object-fit:contain" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Varios</h5>
                        <p class="card-text">Todo acerca de los articulos varios.</p>
                        </div>
                    <div class="card-footer">
                        <a class="btn btn-dark" asp-action="ProductoVario" asp-controller="Productos" type="buttom">Ver productos</a>
                    </div>
                    </div>
                </div>
            </div>



      
        </form>

   

       

 
    <footer>

    </footer>
    </body>
</html>