@{
}




<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Todo acerca de los intrumentos de percusion<span class="text-body-secondary"></span></h2>
        <p class="lead">
            Un instrumento de percusión es un tipo de instrumento musical que suena al ser golpeado, agitado o raspado por una baqueta, mazo o palillo incluyendo batidores adjuntos o cerrados o sonajeros golpeados, raspados o frotados con la mano o golpeados contra otro instrumento similar.1​ Excluyendo los instrumentos de zoomusicología y la voz humana, se cree que la familia de la percusión incluye los instrumentos musicales más antiguos.
            La sección de percusión de una orquesta suele contener instrumentos como los timbales, el bombo, los platillos, el triángulo y la pandereta. Sin embargo, la sección también puede contener instrumentos no percutivos, como silbato y sirena, o una caracola soplada. Las técnicas de percusión pueden aplicarse incluso al propio cuerpo humano, como en la percusión corporal. Por otro lado, los instrumentos de teclado, como la celesta, no suelen formar parte de la sección de percusión, pero están incluidos los instrumentos de percusión de teclado como el glockenspiel y el arpa (que no tienen teclados de piano).
            La percusión se distingue por la variedad de timbres que es capaz de producir y por su facilidad de adaptación con otros instrumentos musicales. Cabe destacar que puede obtenerse una gran variedad de sonidos según las distintas baquetas o mazos que se usan para golpear algunos de los instrumentos de percusión.
        </p>
    </div>
    <div class="col-md-5">
        <img width="300" height="400" src="https://i.pinimg.com/564x/e1/01/fa/e101faa2f35616a525ffe321430a7d01.jpg" class="img-fluid" alt="Sample image">
    </div>
    <div class="card-footer">
        <a class="btn btn-info" asp-action="Index" asp-controller="Home" type="buttom">Volver al inicio</a>
        <a class="btn btn-info" asp-action="ProductoPercusion" asp-controller="Productos" type="buttom">Ver productos</a>
    </div>
</div>