
@{
}





<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Todo acerca de los intrumentos de viento<span class="text-body-secondary"></span></h2>
        <p class="lead">
            Los instrumentos de viento o aerófonos son una familia de instrumentos musicales que producen el sonido esencialmente haciendo vibrar el aire, sin involucrar cuerdas, membranas o el cuerpo del instrumento.

            Normalmente se habla de instrumentos de viento para referirse a aquellos en los que el intérprete sopla dentro de ellos y hace vibrar una columna de aire. Sin embargo, también se incluyen instrumentos como el acordeón o la sirena mecánica.
            Los instrumentos de viento más comunes se suelen clasificar en dos grupos: instrumentos de viento metal y de viento madera.1​ Esta denominación menciona el material con el que se solían fabricar determinados instrumentos y se usa en el contexto de la orquesta sinfónica. En cada grupo se usa un criterio distinto para describir las características más representativas. Esto hace imposible incluir el resto de aerófonos en está clasificación.
        </p>
    </div>
    <div class="col-md-5">
        <img width="300" height="400" src="https://i.pinimg.com/236x/a3/7b/62/a37b6284edd4157e52221688d30f6771.jpg" class="img-fluid" alt="Sample image">
    </div>
    <div class="card-footer">
        <a class="btn btn-warning" asp-action="Index" asp-controller="Home" type="buttom">Volver al inicio</a>
        <a class="btn btn-warning" asp-action="ProductoViento" asp-controller="Productos" type="buttom">Ver productos</a>
    </div>
</div>