
@{
}

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Todo acerca de los intrumentos de cuerdas<span class="text-body-secondary"></span></h2>
        <p class="lead">
            Los instrumentos de cuerda o cordófonos son instrumentos musicales que producen sonidos por medio de las vibraciones de una o más cuerdas, usualmente amplificadas por medio de una caja de resonancia. 
            Estas cuerdas están tensadas entre 2 puntos del instrumento y se hacen sonar pulsando, frotando o percutiendo la cuerda.
            En la orquesta clásica, se llama cuerdas al conjunto de instrumentos de cuerda frotada formado por los grupos de violines (normalmente divididos en violines primeros y segundos), violas, violonchelos y contrabajos. 
            Lo mismo sucede con la orquesta de cuerdas, que está conformada por los mismos instrumentos. De forma similar se habla de un trío, cuarteto o quinteto de cuerdas, cuando se trata de agrupaciones de violín, viola y 
            violonchelo.

            En la mayoría de los instrumentos de cuerda, las vibraciones se transmiten al cuerpo del instrumento, que suele incorporar algún tipo de zona hueca o cerrada. El cuerpo del instrumento también vibra, junto con el aire 
            de su interior. La vibración del cuerpo del instrumento y el hueco o cámara cerrada hacen que la vibración de la cuerda sea más audible para el intérprete y el público. El cuerpo de la mayoría de los instrumentos de 
            cuerda es hueco. Sin embargo, algunos -como la guitarra eléctrica y otros instrumentos que dependen de la amplificación electrónica- pueden tener un cuerpo de madera maciza.

        </p>
    </div>
    <div class="col-md-5">
        <img width="300" height="400" src="https://i.pinimg.com/564x/7e/1e/a5/7e1ea5b5880d6cf02c04514d2a29dbd4.jpg" class="img-fluid" alt="Sample image">
    </div>
</div>
