@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Instrumentos de viento</h1>
                <p class="lead text-body-secondary">Dentro de esta seccion se encuentran todos nuestros productos de viento disponibles.</p>
                <p>
                    <a class="btn btn-primary" asp-action="InstrumentoViento" asp-controller="Productos" type="buttom">Ver detalles</a>
                    <a class="btn btn-dark" asp-action="Index" asp-controller="Productos" type="buttom">Volver a productos</a>
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <!--<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
                        <img width="300" height="400" src="https://http2.mlstatic.com/D_NQ_NP_831585-MLU74993404107_032024-O.webp" class="d-block mx-auto mb-4" alt="Sample image">

                        <div class="card-body">
                            <p class="card-text">Este instrumento es un violin.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-success" asp-action="Compra" asp-controller="Productos" type="buttom">Comprar</a>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img width="300" height="400" src="https://http2.mlstatic.com/D_NQ_NP_822419-MLA52160260653_102022-O.webp" class="d-block mx-auto mb-4" alt="Sample image">
                        <div class="card-body">
                            <p class="card-text">Este instrumento es una guitarra.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-success" asp-action="Compra" asp-controller="Productos" type="buttom">Comprar</a>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img width="300" height="400" src="https://http2.mlstatic.com/D_NQ_NP_930124-MLA43654712425_102020-O.webp" class="d-block mx-auto mb-4" alt="Sample image">
                        <div class="card-body">
                            <p class="card-text">Este instrumento es un arpa.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-success" asp-action="Compra" asp-controller="Productos" type="buttom">Comprar</a>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img width="300" height="400" src="https://http2.mlstatic.com/D_NQ_NP_918982-MLA71819524974_092023-O.webp" class="d-block mx-auto mb-4" alt="Sample image">
                        <div class="card-body">
                            <p class="card-text">Este instrumento es un sitar.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-success" asp-action="Compra" asp-controller="Productos" type="buttom">Comprar</a>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img width="300" height="400" src="https://http2.mlstatic.com/D_NQ_NP_822419-MLA52160260653_102022-O.webp" class="d-block mx-auto mb-4" alt="Sample image">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-success" asp-action="Compra" asp-controller="Productos" type="buttom">Comprar</a>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img width="300" height="400" src="https://http2.mlstatic.com/D_NQ_NP_822419-MLA52160260653_102022-O.webp" class="d-block mx-auto mb-4" alt="Sample image">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-success" asp-action="Compra" asp-controller="Productos" type="buttom">Comprar</a>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img width="300" height="400" src="https://http2.mlstatic.com/D_NQ_NP_822419-MLA52160260653_102022-O.webp" class="d-block mx-auto mb-4" alt="Sample image">>
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-success" asp-action="Compra" asp-controller="Productos" type="buttom">Comprar</a>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img width="300" height="400" src="https://http2.mlstatic.com/D_NQ_NP_822419-MLA52160260653_102022-O.webp" class="d-block mx-auto mb-4" alt="Sample image">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-success" asp-action="Compra" asp-controller="Productos" type="buttom">Comprar</a>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img width="300" height="400" src="https://http2.mlstatic.com/D_NQ_NP_822419-MLA52160260653_102022-O.webp" class="d-block mx-auto mb-4" alt="Sample image">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-success" asp-action="Compra" asp-controller="Productos" type="buttom">Comprar</a>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>