@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Instrumentos de cuerdas</h1>
                <p class="lead text-body-secondary">Dentro de esta seccion se encuentran todos nuestros productos de cuerdas disponibles.</p>
                <p>
                    <a class="btn btn-outline-primary" asp-action="InstrumentoCuerdas" asp-controller="Productos" type="buttom">Ver detalles</a>
                    <a class="btn btn-outline-dark" asp-action="Index" asp-controller="Productos" type="buttom">Volver a productos</a>
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img width="300" height="400" src="https://i.pinimg.com/564x/2f/7a/90/2f7a90e81ae4ff2d4a28a610991365a2.jpg" class="d-block mx-auto mb-4" alt="Sample image">

                        <div class="card-body">
                            <p class="card-text">Este instrumento es un saxo.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-success" asp-action="Compra" asp-controller="Productos" type="buttom">Comprar</a>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img width="300" height="400" src="https://i.pinimg.com/564x/65/26/4e/65264e460a6dabdd6c1c69204d067d1e.jpg" class="d-block mx-auto mb-4" alt="Sample image">
                        <div class="card-body">
                            <p class="card-text">Este instrumento es un trombon.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-success" asp-action="Compra" asp-controller="Productos" type="buttom">Comprar</a>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img width="300" height="400" src="https://i.pinimg.com/564x/5a/db/c0/5adbc0aba28f3f434c9da2993d467153.jpg" class="d-block mx-auto mb-4" alt="Sample image">
                        <div class="card-body">
                            <p class="card-text">Este instrumento es una trompeta.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-success" asp-action="Compra" asp-controller="Productos" type="buttom">Comprar</a>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img width="300" height="400" src="https://i.pinimg.com/564x/b3/45/6e/b3456e55d8fe050f866e8c42efcdf7e0.jpg" class="d-block mx-auto mb-4" alt="Sample image">
                        <div class="card-body">
                            <p class="card-text">Este instrumento es un clarinete.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-success" asp-action="Compra" asp-controller="Productos" type="buttom">Comprar</a>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img width="300" height="400" src="https://i.pinimg.com/564x/d6/44/66/d6446690a7744a303e30a91d865a071e.jpg" class="d-block mx-auto mb-4" alt="Sample image">
                        <div class="card-body">
                            <p class="card-text">Este instrumento es una flauta.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-success" asp-action="Compra" asp-controller="Productos" type="buttom">Comprar</a>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img width="300" height="400" src="https://i.pinimg.com/564x/90/2c/81/902c811c59a78d320efff91ca5783431.jpg" class="d-block mx-auto mb-4" alt="Sample image">
                        <div class="card-body">
                            <p class="card-text">Este instrumento es un acordeon.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-success" asp-action="Compra" asp-controller="Productos" type="buttom">Comprar</a>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img width="300" height="400" src="https://i.pinimg.com/564x/81/66/4f/81664f67c5e0d0124d362dc6d7d3373e.jpg" class="d-block mx-auto mb-4" alt="Sample image">
                        <div class="card-body">
                            <p class="card-text">Este instrumento es una melodica.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-success" asp-action="Compra" asp-controller="Productos" type="buttom">Comprar</a>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img width="300" height="400" src="https://i.pinimg.com/564x/bb/db/07/bbdb07b0f51b18972335123bb0ac0976.jpg" class="d-block mx-auto mb-4" alt="Sample image">
                        <div class="card-body">
                            <p class="card-text">Este instrumento es una armonica.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-success" asp-action="Compra" asp-controller="Productos" type="buttom">Comprar</a>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img width="300" height="400" src="https://i.pinimg.com/564x/89/51/0a/89510a457e7c664d4bb11ad5a00870ce.jpg" class="d-block mx-auto mb-4" alt="Sample image">
                        <div class="card-body">
                            <p class="card-text">Este instrumento es una flauta de pan.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-success" asp-action="Compra" asp-controller="Productos" type="buttom">Comprar</a>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
