    
@{
}



<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Instrumentos de cuerdas</h1>
                <p class="lead text-body-secondary">Dentro de esta seccion se encuentran todos nuestros productos de cuerdas disponibles.</p>
                <p>
                    <a class="btn btn-outline-primary" asp-action="InstrumentoCuerdas" asp-controller="Productos" type="buttom">Ver detalles</a>
                    <a class="btn btn-outline-dark" asp-action="Index" asp-controller="Productos" type="buttom">Volver a productos</a>
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img width="300" height="400" src="https://i.pinimg.com/564x/a7/d9/1b/a7d91bea7277390536a2c34dfb1481a3.jpg" class="d-block mx-auto mb-4" alt="Sample image">
            
                        <div class="card-body">
                            <p class="card-text">Este instrumento es un violin.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-success" asp-action="Compra" asp-controller="Productos" type="buttom">Comprar</a>
                                </div>
                                <small class="text-body-secondary">$455.000</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img width="300" height="400" src="https://i.pinimg.com/564x/0a/2a/04/0a2a04de0eb3b5610692774ab32c7398.jpg" class="d-block mx-auto mb-4" alt="Sample image">
                        <div class="card-body">
                            <p class="card-text">Este instrumento es una guitarra electrica.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-success" asp-action="Compra" asp-controller="Productos" type="buttom">Comprar</a>
                                </div>
                                <small class="text-body-secondary">$155.000</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img width="300" height="400" src="https://i.pinimg.com/564x/0f/3e/ef/0f3eef2d828b6cf86be3008d4d20b39f.jpg" class="d-block mx-auto mb-4" alt="Sample image">
                        <div class="card-body">
                            <p class="card-text">Este instrumento es un arpa.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-success" asp-action="Compra" asp-controller="Productos" type="buttom">Comprar</a>
                                </div>
                                <small class="text-body-secondary">$745.000</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img width="300" height="400" src="https://i.pinimg.com/564x/e6/0e/ce/e60ece1c95a69399f7e9deebc6d52ac5.jpg" class="d-block mx-auto mb-4" alt="Sample image">
                        <div class="card-body">
                            <p class="card-text">Este instrumento es un sitar.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-success" asp-action="Compra" asp-controller="Productos" type="buttom">Comprar</a>
                                </div>
                                <small class="text-body-secondary">$80.000</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img width="300" height="400" src="https://i.pinimg.com/564x/50/09/c0/5009c0df28ccbd0d56a597e7428a4351.jpg" class="d-block mx-auto mb-4" alt="Sample image">
                        <div class="card-body">
                            <p class="card-text">Este instrumento es una mandolina.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-success" asp-action="Compra" asp-controller="Productos" type="buttom">Comprar</a>
                                </div>
                                <small class="text-body-secondary">$60.000</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img width="300" height="400" src="https://i.pinimg.com/564x/8b/73/8f/8b738fa7ce28db1157e6d7da25fc9a80.jpg" class="d-block mx-auto mb-4" alt="Sample image">
                        <div class="card-body">
                            <p class="card-text">Este instrumento es un banjo.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-success" asp-action="Compra" asp-controller="Productos" type="buttom">Comprar</a>
                                </div>
                                <small class="text-body-secondary">$75.000</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img width="300" height="400" src="https://i.pinimg.com/564x/01/8f/8f/018f8f98f1f6d98da8ac05efe819fb9e.jpg" class="d-block mx-auto mb-4" alt="Sample image">
                        <div class="card-body">
                            <p class="card-text">Este instrumento es un violonchelo.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-success" asp-action="Compra" asp-controller="Productos" type="buttom">Comprar</a>
                                </div>
                                <small class="text-body-secondary">$325.000</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img width="300" height="400" src="https://i.pinimg.com/564x/67/04/96/6704966030f4b5be2b10351295a0bbc0.jpg" class="d-block mx-auto mb-4" alt="Sample image">
                        <div class="card-body">
                            <p class="card-text">Este instrumento es un arpa.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-success" asp-action="Compra" asp-controller="Productos" type="buttom">Comprar</a>
                                </div>
                                <small class="text-body-secondary">$45.000</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img width="300" height="400" src="https://i.pinimg.com/564x/89/40/59/894059047631b97ef981fe87ec6e4cd9.jpg" class="d-block mx-auto mb-4" alt="Sample image">
                        <div class="card-body">
                            <p class="card-text">Este instrumento es una guitarra criolla.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-success" asp-action="Compra" asp-controller="Productos" type="buttom">Comprar</a>
                                </div>
                                <small class="text-body-secondary">$380.000</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>





