

@{
}

<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Instrumentos de percusion</h1>
                <p class="lead text-body-secondary">Dentro de esta seccion se encuentran todos nuestros productos de percusion disponibles.</p>
                <p>
                    <a class="btn btn-outline-primary" asp-action="InstrumentoPercusion" asp-controller="Productos" type="buttom">Ver detalles</a>
                    <a class="btn btn-outline-dark" asp-action="Index" asp-controller="Productos" type="buttom">Volver a productos</a>
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img width="300" height="400" src="https://i.pinimg.com/564x/e1/cb/9d/e1cb9d185795f6cf4d2d11fd30f1e83a.jpg" class="d-block mx-auto mb-4" alt="Sample image">
                        <div class="card-body">
                            <p class="card-text">Este instrumento es una tambor.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-success" asp-action="Compra" asp-controller="Productos" type="buttom">Comprar</a>
                                </div>
                                <small class="text-body-secondary">$45.000</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img width="300" height="400" src="https://i.pinimg.com/564x/de/84/58/de8458eb4367fc8a63fcf882d4c0a420.jpg" class="d-block mx-auto mb-4" alt="Sample image">
                        <div class="card-body">
                            <p class="card-text">Este instrumento es un xylofon.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-success" asp-action="Compra" asp-controller="Productos" type="buttom">Comprar</a>
                                </div>
                                <small class="text-body-secondary">$65.000</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img width="300" height="400" src="https://i.pinimg.com/564x/93/1f/95/931f951df0507330843c0957e43d1898.jpg" class="d-block mx-auto mb-4" alt="Sample image">
                        <div class="card-body">
                            <p class="card-text">Este instrumento es una pandereta.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-success" asp-action="Compra" asp-controller="Productos" type="buttom">Comprar</a>
                                </div>
                                <small class="text-body-secondary">$29.000</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img width="300" height="400" src="https://i.pinimg.com/564x/81/16/0b/81160b5379a5d4029f83f8e0f66cd6f5.jpg" class="d-block mx-auto mb-4" alt="Sample image">
                        <div class="card-body">
                            <p class="card-text">Este instrumento es un redoblante.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-success" asp-action="Compra" asp-controller="Productos" type="buttom">Comprar</a>
                                </div>
                                <small class="text-body-secondary">$255.000</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img width="300" height="400" src="https://i.pinimg.com/564x/8a/5f/4d/8a5f4d00df11ce8ab74f0b51a5144d13.jpg" class="d-block mx-auto mb-4" alt="Sample image">
                        <div class="card-body">
                            <p class="card-text">Este instrumento es una bateria.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-success" asp-action="Compra" asp-controller="Productos" type="buttom">Comprar</a>
                                </div>
                                <small class="text-body-secondary">$1.045.000</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img width="300" height="400" src="https://i.pinimg.com/564x/d5/28/e9/d528e996c0a50e579bec7528bd17eb80.jpg" class="d-block mx-auto mb-4" alt="Sample image">
                        <div class="card-body">
                            <p class="card-text">Este instrumento es un bombo.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-success" asp-action="Compra" asp-controller="Productos" type="buttom">Comprar</a>
                                </div>
                                <small class="text-body-secondary">$135.000</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img width="300" height="400" src="https://i.pinimg.com/564x/15/b9/a1/15b9a18de692bdb9983941446f1f3c62.jpg" class="d-block mx-auto mb-4" alt="Sample image">
                        <div class="card-body">
                            <p class="card-text">Este instrumento es una maraca.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-success" asp-action="Compra" asp-controller="Productos" type="buttom">Comprar</a>
                                </div>
                                <small class="text-body-secondary">$55.000</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img width="300" height="400" src="https://i.pinimg.com/564x/71/71/d0/7171d0288d5dcabbbdce8532014df66d.jpg" class="d-block mx-auto mb-4" alt="Sample image">
                        <div class="card-body">
                            <p class="card-text">Este instrumento es un tambor.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-success" asp-action="Compra" asp-controller="Productos" type="buttom">Comprar</a>
                                </div>
                                <small class="text-body-secondary">$485.000</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img width="300" height="400" src="https://i.pinimg.com/564x/1d/71/4e/1d714eaf248132154bf464039b9da176.jpg" class="d-block mx-auto mb-4" alt="Sample image">
                        <div class="card-body">
                            <p class="card-text">Este instrumento es un timbal.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-success" asp-action="Compra" asp-controller="Productos" type="buttom">Comprar</a>
                                </div>
                                <small class="text-body-secondary">$245.000</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
