

@{
}



<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Instrumentos de cuerdas</h1>
                <p class="lead text-body-secondary">Dentro de esta seccion se encuentran todos nuestros productos de cuerdas disponibles.</p>
                <p>
                    <a class="btn btn-outline-primary" asp-action="InstrumentoCuerdas" asp-controller="Productos" type="buttom">Ver detalles</a>
                    <a class="btn btn-outline-dark" asp-action="Index" asp-controller="Productos" type="buttom">Volver a productos</a>
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img width="300" height="400" src="https://i.pinimg.com/564x/2e/49/5d/2e495dd4a113f9669e85f1b1174be92d.jpg" class="d-block mx-auto mb-4" alt="Sample image">

                        <div class="card-body">
                            <p class="card-text">Este articulo son palos de bateria.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-success" asp-action="Compra" asp-controller="Productos" type="buttom">Comprar</a>
                                </div>
                                <small class="text-body-secondary">$15.000</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img width="300" height="400" src="https://i.pinimg.com/564x/6a/24/3b/6a243bea75c6df5655eff4098582e2a7.jpg" class="d-block mx-auto mb-4" alt="Sample image">
                        <div class="card-body">
                            <p class="card-text">Este articulo son cuerdas de guitarra.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-success" asp-action="Compra" asp-controller="Productos" type="buttom">Comprar</a>
                                </div>
                                <small class="text-body-secondary">$15.000</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img width="300" height="400" src="https://i.pinimg.com/564x/23/27/c2/2327c2c047c9be95e0a25dce2942e2aa.jpg" class="d-block mx-auto mb-4" alt="Sample image">
                        <div class="card-body">
                            <p class="card-text">Este articulo es una boquilla para saxo.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-success" asp-action="Compra" asp-controller="Productos" type="buttom">Comprar</a>
                                </div>
                                <small class="text-body-secondary">$45.000</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img width="300" height="400" src="https://i.pinimg.com/564x/2c/ae/3a/2cae3a5e07077e91cff4206d2517684f.jpg" class="d-block mx-auto mb-4" alt="Sample image">
                        <div class="card-body">
                            <p class="card-text">Este articulo es una banqueta para bateria.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-success" asp-action="Compra" asp-controller="Productos" type="buttom">Comprar</a>
                                </div>
                                <small class="text-body-secondary">$85.000</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img width="300" height="400" src="https://i.pinimg.com/564x/33/38/6c/33386c04c91e77a6627afb35fb16b6c3.jpg" class="d-block mx-auto mb-4" alt="Sample image">
                        <div class="card-body">
                            <p class="card-text">Este articulo es un microfono.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-success" asp-action="Compra" asp-controller="Productos" type="buttom">Comprar</a>
                                </div>
                                <small class="text-body-secondary">$105.000</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img width="300" height="400" src="https://i.pinimg.com/564x/bc/05/41/bc05411fbd9d4890fe1f016643b2f57e.jpg" class="d-block mx-auto mb-4" alt="Sample image">
                        <div class="card-body">
                            <p class="card-text">Este articulo es un tocadisco..</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-success" asp-action="Compra" asp-controller="Productos" type="buttom">Comprar</a>
                                </div>
                                <small class="text-body-secondary">$345.000</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img width="300" height="400" src="https://i.pinimg.com/564x/a8/f7/3d/a8f73dd413643ffc4fb89e9a97ff1c1a.jpg" class="d-block mx-auto mb-4" alt="Sample image">
                        <div class="card-body">
                            <p class="card-text">Este articulo es un estuche de guitarra.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-success" asp-action="Compra" asp-controller="Productos" type="buttom">Comprar</a>
                                </div>
                                <small class="text-body-secondary">$345.000</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img width="300" height="400" src="https://i.pinimg.com/564x/05/aa/fd/05aafd18ecffa1061930a66a803fa7bb.jpg" class="d-block mx-auto mb-4" alt="Sample image">
                        <div class="card-body">
                            <p class="card-text">Este articulo son puas.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-success" asp-action="Compra" asp-controller="Productos" type="buttom">Comprar</a>
                                </div>
                                <small class="text-body-secondary">$9.000</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img width="300" height="400" src="https://i.pinimg.com/564x/2f/a1/04/2fa104c6be451074a8dba6f456570dc3.jpg" class="d-block mx-auto mb-4" alt="Sample image">
                        <div class="card-body">
                            <p class="card-text">Este articulo es un metronomo.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-outline-success" asp-action="Compra" asp-controller="Productos" type="buttom">Comprar</a>
                                </div>
                                <small class="text-body-secondary">$60.000</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
