@{
    ViewData["Title"] = "Home Page";
}

<!doctype html>
<html lang="ar" >
    <head>
    </head>




<body>
    <main>

        <div class="container marketing">
            <div class="row">
                <div class="col-lg-4">
                    <img width="300" height="400" src="https://i.pinimg.com/736x/15/f2/85/15f2857d46ae52688074be783b2d14ba.jpg" class="img-fluid" alt="Sample image">
                    <h2 class="fw-normal">Instrumentos de cuerdas</h2>
                    <p>En esta seccion se informara todo acerca del mundo de la platan de cannabis</p>
                    <p><a class="btn btn-secondary" asp-controller="Productos" asp-action="InstrumentoCuerdas" >Ingresar</a></p>
                </div>

                <div class="col-lg-4">
                    <img width="300" height="400" src="https://i.pinimg.com/236x/bf/70/d4/bf70d490d10a8b2e6d8ab3e83785d46c.jpg" class="img-fluid" alt="Sample image">
                    <h2 class="fw-normal">Instrumentos de percusion</h2>
                    <p>En esta seccion se informara todo acerca del mundo del lsd</p>
                    <p><a class="btn btn-secondary" asp-controller="Productos" asp-action="InstrumentoPercusion">Ingresar</a></p>
                </div>

                <div class="col-lg-4">
                    <img width="300" height="400" src="https://i.pinimg.com/564x/c1/c7/1e/c1c71e6b92c21e62b5ba0b53d409d0b3.jpg" class="img-fluid" alt="Sample image">
                    <h2 class="fw-normal">Instrumentos de viento</h2>
                    <p>En esta seccion se informara todo acerca del mundo de los hongos alucinogenos</p>
                    <p><a class="btn btn-secondary" asp-controller="Productos" asp-action="InstrumentoViento">Ingresar</a></p>
                </div>

            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">Experiencias con instrumentos de cuerdas<span class="text-body-secondary"></span></h2>
                    <p class="lead">Enterate de todas las experiencias que tuvieron nuestros usuarios con nuestros instrumentos de cuerdas</p>
                    <h3>Comparti tu experiencia</h3>
                    <br />
                    <input type="text"/>
                    <button type="submit" class="btn btn-dark">Compartir</button>
                </div>
                <div class="col-md-5">
                    <img width="300" height="400" src="https://i.pinimg.com/236x/ca/fc/44/cafc44b258e50af3acd13ac3c4dd163d.jpg" class="img-fluid" alt="marciano">

                </div>
            </div>

            <hr class="featurette-divider">
    
            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1">Experiencias con instrumentos de percusion<span class="text-body-secondary"></span></h2>
                    <p class="lead">Enterate de todas las experiencias que tuvieron nuestros usuarios con nuestros instrumentos de percusion</p>
                    <h3>Comparti tu experiencia</h3>
                    <br />
                    <input type="text" />
                    <button type="submit" class="btn btn-dark">Compartir</button>
                </div>
                <div class="col-md-5 order-md-1">
                    <img width="300" height="400" src="https://i.pinimg.com/564x/7c/71/b2/7c71b280cc67d981de77ec3803b9d379.jpg" class="img-fluid" alt="Sample image">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">Experiencias con con instrumentos de viento <span class="text-body-secondary"></span></h2>
                    <p class="lead">Enterate de todas las experiencias que tuvieron nuestros usuarios con nuestros instrumentos de viento</p>
                    <h3>Comparti tu experiencia</h3>
                    <br />
                    <input type="text" />
                    <button type="submit" class="btn btn-dark">Compartir</button>
                </div>
                <div class="col-md-5">
                    <img width="300" height="400" src="https://i.pinimg.com/236x/73/15/14/731514edf75f2a4c6fd519a249f149c1.jpg" class="img-fluid" alt="Sample image">
                </div>
            </div>

            <hr class="featurette-divider">


        </div>

        <footer class="container">
            <p>&copy; 2024 Company, Inc. - <a href="#">Inicio</a> - Ventas</p>
        </footer>
    
    </main>
    
    <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>


