@{
    ViewData["Title"] = "Politica de privacidad";
}
<h1>@ViewData["Title"]</h1>

<body>

    <div class="col-lg-8 mx-auto p-4 py-md-5">


        <main>
            <h1 class="text-body-emphasis">Estos son nuestros terminos de privacidad</h1>
            <p class="fs-5 col-md-8">Por favor, leerlos y aceptar todos nuestros terminos para poder brindar un mejor servicio.</p>

            <div class="mb-5">
                <a class="btn btn-warning" asp-controller="Home" asp-action="Index">Volver al inicio</a>
            </div>

            <hr class="col-3 col-md-2 mb-5">

            <div class="row g-5">
                <div class="col-md-6">
                    <h2 class="text-body-emphasis">Informacion sensible</h2>
                    <p>Toda la informacion que se almacena en nuestra base de datos no se expondra hacia otros usuarios.</p>
                    <div class="col-md-5">
                        <img width="300" height="400" src="https://i.pinimg.com/564x/b3/f9/50/b3f95092bc4ee39ac56a4e46e8066ae9.jpg" class="img-fluid" alt="">

                    </div>
                </div>

                <div class="col-md-6">
                    <h2 class="text-body-emphasis">Bases y condiciones</h2>
                    <p>Las bases y condiciones son las reglas o términos que rigen una actividad, concurso o contrato. Es importante leerlas detenidamente para comprender los derechos y responsabilidades involucrados.</p>
                    <div class="col-md-5">
                        <img width="300" height="400" src="https://i.pinimg.com/564x/d1/53/13/d1531362a9141b4fe68593d716eeb4a0.jpg" class="img-fluid" alt="">

                    </div>
                </div>
            </div>




                </div>
            </div>
        </main>

    </div>
    <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>



</body>
